<!-- <div class="work col col-12 col-md-6 col-sm-12">
  <div class="job">
    <p class="date">2017</p>
    <div class="vertical-line"></div>
    <div class="dot"></div>
    <div class="dot-img"></div>
    <div class="info">
      <h3>Job title</h3>
      <h6>Company</h6>
      <p>description</p>
    </div>
  </div>
</div>
<div class="education col col-md-6 col-sm-12">
  <div class="school">
    <p class="date">2017</p>
    <div class="vertical-line"></div>
    <div class="dot"></div>
    <div class="dot-img"></div>
    <div class="info">
      <h3>Job title</h3>
      <h6>School</h6>
      <p>description</p>
    </div>
  </div>
</div> -->
<div class="experience-download">
  <h4>To see my experience please download my CV below:</h4>
  <%= link_to "Download", download_pdf_path, class:"btn btn-main" %>
</div>
