<div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "adaptive.png" %>
      <h3>Adaptive</h3>
      <p>Easily adapt to any situation, a fast learner.</p>
    </div>
    <div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "determined.png" %>
      <h3>Determined</h3>
      <p>Passionate about what I do and dedicated to delivering high quality product.</p>
    </div>
    <div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "dependable.png" %>
      <h3>Dependable</h3>
      <p>A team player not afraid to put in the work.</p>
    </div>
