<div class="container">
  <div class="home-info row" id="home">
    <div class="home-profile col col-md-6 col-sm-12">
      <h1>Patrycja</h1>
      <div class="home-background">
      </div>
      <div class="home-avatar">
      </div>
    </div>
    <div class="home-intro col col-md-6 col-sm-12">
      <h3>Web designer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac.</p>
      <%= link_to( 'Meet me!', root_path(:anchor => "about"), class:"btn btn-main") %>
      <%= link_to("Say hi!", root_path(:anchor => "contact"), class:"btn btn-main") %>
    </div>
  </div>
  <div id="work">
    <%= render 'shared/home_carousel_multiple2' %>
  </div>
  <div id="experience" class="row">
    <div class="work col col-md-6 col-sm-12">
      <div class="job">
        <p class="date">2017</p>
        <div class="vertical-line"></div>
        <div class="dot"></div>
        <div class="dot-img"></div>
        <div class="info">
          <h3>Job title</h3>
          <h5>Company</h5>
          <p>description</p>
        </div>
      </div>
    </div>
    <div class="education col col-md-6 col-sm-12">
      <div class="school">
        <p class="date">2017</p>
        <div class="vertical-line"></div>
        <div class="dot"></div>
        <div class="dot-img"></div>
        <div class="info">
          <h3>Job title</h3>
          <h5>School</h5>
          <p>description</p>
        </div>
      </div>
    </div>
  </div>
  <div id="languages" class="cards-languages row">
    <div class="language col col-lg-3 col-md-4 col-sm-6">
      <img src="/assets/design.png" alt="">
      <h3>Language</h3>
    </div>
    <div class="language col col-lg-3 col-md-4 col-sm-6">
      <img src="/assets/design.png" alt="">
      <h3>Language</h3>
    </div>
    <div class="language col col-lg-3 col-md-4 col-sm-6">
      <img src="/assets/design.png" alt="">
      <h3>Language</h3>
    </div>
    <div class="language col col-lg-3 col-md-4 col-sm-6">
      <img src="/assets/design.png" alt="">
      <h3>Language</h3>
    </div>
  </div>
  <div id="skills" class="cards-skills">
    <div class="skill card col col-lg-4 col-md-12">
      <img src="/assets/design.png" alt="">
      <h3>Skill</h3>
      <p>description</p>
    </div>
    <div class="skill card col col-lg-4 col-md-12">
      <img src="/assets/design.png" alt="">
      <h3>Skill</h3>
      <p>description</p>
    </div>
    <div class="skill card col col-lg-4 col-md-12">
      <img src="/assets/design.png" alt="">
      <h3>Skill</h3>
      <p>description</p>
    </div>
  </div>
  <div id="endorsements">
    <div class="endorsement">
      <img src="/assets/quote.png" alt="">
      <div class="endorsement-text">
        <p>Patrycja is creative and not afraid to experiment with ideas, good at receiving feedback. She is always dependable, organised and efficient.</p>
        <h6>Zefa Mongan, MCM Architecture</h6>
      </div>
    </div>
    <div class="endorsement">
      <img src="/assets/quote.png" alt="">
      <div class="endorsement-text">
        <p>I am impressed by how passionate, excited and inspired Patrycja is. She is always doing above and beyond. Her design is considered with attention to ‘the why’. </p>
        <h6>Terri Scott, MCM Architecture</h6>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="about d-flex justify-content-space-between">
      <img src="/assets/profile-home.png" alt="">
      <div>
        <h3>Web designer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac.</p>
      </div>
    </div>
  </div>
  <div id="contact">
    <%= render 'shared/form' %>
  </div>
  <div class="pulse pulse-two"></div>
  <div class="footer">
    <!-- d-flex justify-content-center -->
    <div class="contact-icons">
      <a href="https://github.com/PatMiekina"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/patrycja-miekina/"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/miekisz/"><i class="fab fa-facebook-square"></i></a>
    </div>
    <p>Copyright by Patrycja Miękina 2021</p>
  </div>
  </div>
  <div class="pulse pulse-one"></div>
</div>
