<div class="container">
  <div class="home-info">
    <div class="home-profile">
      <h1>Patrycja</h1>
      <div class="home-background">
      </div>
      <div class="home-avatar">
      </div>
    </div>
    <div class="home-intro">
      <h3>Web designer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac.</p>
      <%= link_to 'Meet me!', about_path, class:"btn btn-main" %>
  <!--     <div class="btn btn-main">
        <p>Meet me!</p>
      </div> -->
    </div>
  </div>
</div>
