@import "global";
.btn-main {
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 8px 24px;
  a:hover {
    background-color: #696969;
    color: white;
  }
}

.btn-secondary {
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  background-color: rgba(0,0,0,0);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  :hover {
    opacity: 1;
  }
}


// .btn-ghost {
//   color: #4A4A4A;
//   border: 1px solid #4A4A4A;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
// }

// .btn-ghost:hover {
//   opacity: 1;
// }
